@media only screen and (min-width: 769px) {
    
    .swiper-slide:first-child {
      transition: transform 100ms;
    }

    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
      z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
      /* transition: transform 100ms; */
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
  }
@media screen and (max-width: 2030px) { 
    .slider {
        /* margin-left: -40px; */
    }
}
@media screen and (max-width: 1950px) { 
    .MonExtraBold {
        font-size: 70px;
    }
    .slider {
        margin-left: -45px;
    }
    .hiw-line1 {
        height: 32%;
        top: 42%;
        left: 12%;
      }
}

@media screen and (max-width: 1728px) {
    .swiper-container {
        max-height: 1000px; 
    }
    .slider {
        margin-left: 0;
    }
    .logo-letters {
        font-size: 120px;
        font-family: 'MontserratExtraBold';
        font-weight: 800;
      }
      .MonExtraBold {
        font-size: 50px;
        font-family: 'MontserratExtraBold';
        font-weight: 800;
      }
      
      .MonBold-big {
        font-size: 43.2px;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #000000
      }
      
      .MonBold-small {
        font-size: 25px;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #555454
      }
      
      .MonSemiBold {
        font-size: 36px;
        font-family: 'MontserratSemiBold';
        font-weight: bold;
        color: #000000
      }
      
      .HelvReg-big {
        font-family: 'Helvetica';
        font-weight: normal;
        font-size: 30px;
        color: #000000
      }
      
      .HelvReg-small {
        font-family: 'Helvetica';
        font-weight: normal;
        font-size: 21px;
        color: #000000
      }

    .hiw-img {
        max-height: 250px;
    }
      
    :root {
        --border-radius: 56px;
      }
      .hiw-line1 {
        height: 29%;
        left: 10%;
        top: 44%; 
    }

    .hiw-line2 {
        right: 14%;
        top: 19%;
        height: 29%; 
    }
    .slider div {
        margin-bottom: 50px;
    }
    .slider-text-3 {
        margin-bottom: 150px !important;
    }
    @keyframes slide {
        0% {
          margin-top: 30px;
        }
        10% {
          /* For stopping effect */
          margin-top: 30px;
        }
        20% {
          margin-top: -70px;
        }
        30% {
          /* For stopping effect */
          margin-top: -70px;
        }
        40% {
          margin-top: -235px;
        }
        50% {
          /* For stopping effect */
          margin-top: -235px;
        }
        60% {
          margin-top: -370px;
        }
        70% {
          margin-top: -370px;
        }
        80% {
          /* For stopping effect */
          margin-top: -475px;
        }
        90% {
          margin-top: -475px;
        }
        100% {
          margin-top: -560px;
        }
      }
}

@media screen and (max-width: 1600px) {
    .hiw-line1 {
        left: 7%;
        height: 30%;
    }

    .hiw-line2 {
        height: 27%;
        top: 20%;
        right: 13%;
    }
}

@media screen and (max-width: 1550px) {
    

}


@media screen and (max-width: 1440px) {
    .swiper-container {
        max-height: 800px; 
    }
    .hiw-img {
        max-height: 220px;
    }
    .hero-container {
        padding: 100px 100px;
    }
    .footer-link-img {
        max-height: 120px ;
      }

    .logo-svg,
    .footer-logo-img {
        width: 120px;
    }

   

    .hiw-line1 {
        height: 30%;
        top: 41%;
        left: 2%;
    }

    .hiw-line2 {
        height: 26%;
        top: 18%;
        right: 9%;
    }

    .logo-letters {
        font-size: 114px;
    }

    .MonExtraBold {
        font-size: 50px;
        font-weight: 800;
    }

    .MonBold-big {
        font-size: 40px;
    }

    .MonBold-big {
        font-size: 40px;
    }

    .MonBold-small {
        font-size: 22px;
    }

    .MonSemiBold {
        font-size: 35px;
    }

    .HelvReg-big {
        font-size: 29px;
    }

    .HelvReg-small {
        font-size: 23px;
    }

    @keyframes slide {
        0% {
            margin-top: 35px;
        }

        10% {
            /* For stopping effect */
            margin-top: 35px;
        }

        20% {
            margin-top: -65px;
        }

        30% {
            /* For stopping effect */
            margin-top: -65px;
        }

        40% {
            margin-top: -225px;
        }

        50% {
            /* For stopping effect */
            margin-top: -225px;
        }

        60% {
            margin-top: -360px;
        }

        70% {
            margin-top: -360px;
        }

        80% {
            /* For stopping effect */
            margin-top: -465px;
        }

        90% {
            margin-top: -465px;
        }

        100% {
            margin-top: -550px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .swiper-container {
        max-height: 700px;
    }
    @keyframes slide {
        0% {
            margin-top: 45px;
        }

        10% {
            /* For stopping effect */
            margin-top: 45px;
        }

        20% {
            margin-top: -55px;
        }

        30% {
            /* For stopping effect */
            margin-top: -55px;
        }

        40% {
            margin-top: -195px;
        }

        50% {
            /* For stopping effect */
            margin-top: -195px;
        }

        60% {
            margin-top: -350px;
        }

        70% {
            margin-top: -350px;
        }

        80% {
            /* For stopping effect */
            margin-top: -455px;
        }

        90% {
            margin-top: -455px;
        }

        100% {
            margin-top: -540px;
        }
    }

    
    .hiw-line1 {
        height: 28%;
        top: 45%;
        left: -1%;
    }

    .hiw-line2 {
        height: 28%;
        top: 20%;
        right: 6%;
    }

    .logo-letters {
        font-size: 84px;
    }

    .MonExtraBold {
        font-size: 30px;
    }

    .MonBold-big {
        font-size: 30px;
    }

    .MonBold-big {
        font-size: 30px;
    } 

    .MonBold-small {
        font-size: 15px;
    }

    .MonSemiBold {
        font-size: 25px;
    }

    .HelvReg-big {
        font-size: 21px;
    }

    .HelvReg-small {
        font-size: 15px;
    }

    .logo-svg,
    .footer-logo-img {
        width: 100px;
    }

}


@media screen and (max-width: 1100px) {

    .hiw-line1 {
        height: 28%;
        top: 44%;
        left: -3%;
    }

}

@media screen and (max-width: 1035px) {
    .swiper-container {
        max-height: 600px;
    }
    .logo {
        padding-left: 25px;
    }
    .about-proj__img {
        max-width: 100px;
        top: -50px; 
    }
    .footer-link-img {
        max-height: 70px;
      }
    :root {
        --border-radius: 36px;
      }
    

    .MonSemiBold {
        font-size: 20px;
    }

    .hiw-line1 {
        height: 31%;
        top: 43%;
        left: -7%;
    }

    .hiw-line2 {
        height: 29%;
        top: 18%;
        right: 2%;
    }

    .hiw-wrapper {
        padding: 40px 5px;
    }

    .wrapper,
    .about-proj__header {
        margin-bottom: 40px;
    }

    .hero-container {
        padding: 100px 40px;
    }

    .navigation {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hiw-line3 {
        height: 300px;
        top: 55%;
        left: 0;
    }

    .hiw-line4 {
        height: 300px;
        top: 35%;
        right: 0;
    }

    .fact {
        margin-bottom: 20px;
    }


    .logo-svg,
    .footer-logo-img {
        width: 80px;
    }

    .panel-link {
        font-size: 15px;
    }

    .navigation {
        /* align-items: center; */
    }
}

@media screen and (max-width: 992px) {
    .navigation {
        padding: 15px 0;
    }
}

@media screen and (max-width: 900px) {
    .swiper-container {
        max-height: 550px;
    }
    .hiw-line1 {
        height: 29%;
        top: 42%;
        left: -11%;
    }

    .hiw-line2 {
        height: 27%;
        top: 18%;
        right: -2%;
    }
}

@media screen and (max-width: 820px) {
    .swiper-container {
        max-height: 500px;
    }

    .logo-svg,
    .footer-logo-img {
        width: 60px;
    }

   

    .logo-letters {
        font-size: 70px;
    }

    .MonExtraBold {
        font-size: 25px;
    }

    .MonBold-big {
        font-size: 25px;
    }

    .MonBold-big {
        font-size: 25px;
    }

    .MonBold-small {
        font-size: 12px;
    }

    .MonSemiBold {
        font-size: 21px;
    }

    .HelvReg-big {
        font-size: 17px;
    }

    .HelvReg-small {
        font-size: 12px;
    }

    .footer-link-img {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 760px) {
    .hiw-line1 {
        height: 31%;
        top: 43%;
        left: -18%;
    }
    .fact {
        margin-bottom: 45px;
        max-width: 300px;
    }
}

@media screen and (max-width: 715px) {
    :root {
        --border-radius: 15px;
      }
    .hiw-lines-small {
        display: block;
    }

    .hiw-lines {
        display: none;
    }

    .hiw-line3 {
        top: 58%;
        left: 21%;
    }

    .hiw-line4 {
        top: 29%;
        right: 22%;
    }

    .logo-svg {
        width: 50px;
    }

    .swiper-pagination-bullet {
        /* padding: 1px /; */
    }

    .swiper-pagination {
        padding: 1px 5px !important;
    }

    

    .fact-card {
        border-radius: 40px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        width: 100%;
    }

    .about-proj__img {
        max-width: 80px;
        top: -40px;
    }

    .wrapper {
        margin-bottom: 20px;
    }

    .hero-container {
        padding: 30px 40px;
    }

    .logo-letters {
        font-size: 65px;
    }

    .slider-wrapper {
        display: flex;
        flex-direction: column;
    }

    .hero-content {
        justify-content: center;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .hiw-titles {
        text-align: center;
    }

    .hiw-block {
        justify-content: center;
        flex-direction: column;

    }

    .hiw-text {
        text-align: center;
    }

    .hero-text {
        text-align: center;
    }
    .hero-content-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 576px) {
    
    .hero-content-right {
        align-items: start;
    }
    .hero-container {
        flex-direction: row;
        justify-content: space-between;

    }
    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navigation__mobile--active {
        display: block;
      }
    .navigation__mobile {
        background-color: white;
        border: 1px solid black;
        right: 5%;
        top: 2%;
        list-style: none;
        position: absolute;
        margin: 0;
        padding: 0;
        z-index: 1;
        padding: 0 30px;
        padding-top: 30px;
    }
    .burger {
        transform-origin: left;
        transition: all 0.3s ease-in-out, transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
    }
    .burger__line:first-child {
        width: 67%;
        transform: rotate(45deg);
    }
    .burger__line:nth-child(2) {
        display: none;

    }
    .burger__line:last-child {
        width: 67%;
        transform: rotate(-45deg);
    }

/*  */
    .header__nav-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__nav-icon:active,.header__nav-icon:hover, .header__nav-icon:focus {
        border: none;
        outline: none;
    }


   
    .logo {
        padding-left: 0;
    }

    .nav__panel {
        display: none !important;
    }
    .hiw-line3 {
        height: 30%;
        top: 54%;
        left: 11%;
    }

    .hiw-line4 {
        height: 33%;
        top: 21%;
        right: 7%;
    }

    .start-btn {
        padding-top: 0px;
        padding-bottom: 7px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-link {
        max-width: 70px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .footer-text {
        margin-bottom: 10px;
        width: 75%;
    }

    .hiw-img {
        min-width: 180px;
    }

    .how-it-works,
    .hero-container,
    .navigation {
        border-radius: 15px;
    }

    .fact-text,
    .hiw-text {
        padding: 0 20px;
    }

    .team-text {
        text-align: center;
    }


    .hero-container {
        padding: 20px 7px;
    }

    .hiw-titles {
        text-align: center;
    }

    .hiw-block {
        justify-content: center;
    }

    .hero-title,
    .hero-text,
    .hiw-text {
        text-align: center;
    }

    .logo-svg {
        width: 36px;
    }

    .fact-card__header {
        margin-bottom: 7px;
    }

    .fact-card {
        padding: 30px 10px;
    }

    .navigation {
        padding: 10px 20px !important;
        justify-content: space-between;
    }

    

    .logo-letters {
        font-size: 25px;
    }

    .MonExtraBold {
        font-size: 18px;
    }

    .MonBold-big {
        font-size: 19px;
    }


    .MonBold-small {
        font-size: 5px;
    }

    .start-btn-size {
        font-size: 8px !important;
    }

    .MonSemiBold {
        font-size: 15px;
    }

    .HelvReg-big {
        font-size: 11px;
    }

    .HelvReg-small {
        font-size: 10px;
    }
    .hero-text {
        margin-bottom: 10px;
        text-align: left;
    }
    .navigation, .hero, .how-it-works,.team,.footer {
        width: 95%;
    }
    .about-proj {
        width: 81.5%;
    }
    .about-proj__img {
        max-width: 50px;
        top: -25px;
    }

    .fact {
        margin-bottom: 30px;
    }
    .footer-link-img {
        max-height: 50px;
    }
    .footer-link {
        max-width: 50px;
    }
    .footer-links {
        width: 100%;
        justify-content: center;
    }
    .footer-logo-img {
        max-width: 50px;
    }
    .about-proj__header {
        margin-bottom: 25px;
    }
    .main-container {
        background-image: url(../img/Линии.svg),url(../img/Линии_reverse.svg),url(../img/Линии.svg),url(../img/Линии_reverse.svg);
        background-size: 200%,200%,200%,200%;
        background-position: center 10%,center 40%, center 60%,center 100%;
        background-repeat: no-repeat,no-repeat, no-repeat, no-repeat;
      }
}

@media screen and (max-width: 400px) {
    .footer-link {
        max-width: 40px;
    }
    .footer-link-img {
        max-height: 40px;
    }
    .logo-svg {
        width: 36px;
    }
    .navigation {
        min-width: 300px;
    }
    .hero-text {
        width: 100%;
    }
    .hiw-wrapper {
        padding: 20px 5px
    }
    .hiw-line3 {
        height: 30%;
        top: 51%;
        left: 8%;
    }

    .hiw-line4 {
        height: 33%;
        top: 21%;
        right: 7%;
    }

  

    .footer {
        border-radius: 15px;
        padding: 20px 10px;
    }

    .MonBold-big {
        font-size: 15px;
    }
}
